name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Render and validate site
      id: render-and-validate-site
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Render and validate site
        setup-command: quarto --version
        command: quarto render && python3 scripts/check_site.py
        timeout: 10
        max-score: 100
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        RENDER-AND-VALIDATE-SITE_RESULTS: "${{steps.render-and-validate-site.outputs.result}}"
      with:
        runners: render-and-validate-site
